*.gcode
*.o
*.d
/mrna_vaccine_badge_code.X/build/
/mrna_vaccine_badge_code.X/dist/
/mrna_vaccine_badge_code.X/disassembly/
/mrna_vaccine_badge_code.X/.generated_files/
/mrna_vaccine_badge_code.X/nbproject/Makefile-*
/mrna_vaccine_badge_code.X/nbproject/Package-*
/mrna_vaccine_badge_code.X/nbproject/private/
